#settingsPanel input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 200px;
}

#settingsPanel button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

#settingsPanel button:hover {
  background: #1e40af;
}
